@model IEnumerable<OverviewTicketViewModel>
@{
	ViewData["Title"] = "View Tickets";
}

<h2 class="animated fadeInLeft">@ViewData["Title"]</h2>
<br />
@if (Model != null)
{
	@Html.Partial("_ListTicketPartial", Model)
}
