@{
	ViewData["Title"] = "Approved";
}

<div class="row animated flipInX">
	<div class="col-sm-6 col-md-6">
		<div class="alert-message alert-message-success">
			<h4>
				@ViewData["Title"]
			</h4>
			<p>
				The user's account was approved.
			</p>
		</div>
		<a asp-controller="Account" asp-action="UsersToProcess" class="btn btn-primary">Return</a>
	</div>
</div>