@model ApprovingUsersViewModel

@{
	ViewData["Title"] = "Denied";
}

<div class="row animated flipInX">
	<div class="col-sm-6 col-md-6">
		<div class="alert-message alert-message-danger">
			<h4>
				Approved
			</h4>
			<p>
				The user with username <strong>@Model.Username </strong> was denied
			</p>
		</div>
		<a asp-controller="Account" asp-action="UsersToProcess" class="btn btn-primary">Return</a>
	</div>
</div>