@model RegisterViewModel

@{
	ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row animated">
	<div class="col-md-4">
		<section>
			<form method="post">
				<h4>Use a local account to log in.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group animated fadeInLeft">
					<label asp-for="Username"></label>
					<input asp-for="Username" class="form-control" />
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
				<div class="form-group animated fadeInRight">
					<label asp-for="FirstName"></label>
					<input asp-for="FirstName" class="form-control" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
				<div class="form-group animated fadeInLeft">
					<label asp-for="LastName"></label>
					<input asp-for="LastName" class="form-control" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
				<div class="form-group animated fadeInRight">
					<label asp-for="Email"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group animated fadeInLeft">
					<label asp-for="Password"></label>
					<input asp-for="Password" type="password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				@if (User.IsInRole("Administrator"))
				{
					<div class="form-group animated fadeInRight">
						<label asp-for="AccountState"></label>
						<select asp-for="AccountState" class="form-control">
							<option selected>Pending</option>
							<option>Approved</option>
							<option>Denied</option>
						</select>
					</div>
				}
				<div class="form-group animated fadeInRight">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
				@if (Model != null)
				{
					@if (Model.ErrorMessage != null)
					{
						<div class="form-group alert-message alert-message-danger animated tada">
							<span class="text-danger">@Model.ErrorMessage</span>
						</div>
					}
				}
			</form>
		</section>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}