@{
	ViewData["Title"] = "Home Page";
}
<img src="~/images/stock-internet.jpg" alt="ASP.NET" class="center-block animated bounceInDown" style="padding-top: 5px; height: 500px" />	

<div class="row animated bounceInUp">
	<div class="col-md-6">
		<h2>Application uses</h2>
		<ul>
			<li>A way to indicate problems</li>
		</ul>
	</div>
	<div class="col-md-6">
		<h2>How to use the system</h2>
		<ul>
			<li>Simply login, click create ticket and write your problem</li>
		</ul>
	</div>
</div>
